
<div class="col-md-12">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <div class="container mb-5 pt-2">
        <div class="row">
          <div class="col-12">
            <div class="box box-primary">
              <div class="box-body table-responsive no-padding" style="height: 90vh;">
                <p><%= @oder.title %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- ページネーション -->
      
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>