<ul class="horizontal-list">
    <li class="item">
      <div><%= render 'reki'%>

      </div>
    </li>
    <li class="item">
      <div><%= render 'reki'%></div>
    </li>
    <li class="item">
      <div><%= render 'reki'%></div>
    </li>
    <li class="item">
      <div><%= render 'reki'%></div>
    </li>
  </ul>