  <div class="description">
    <dl class="d-flex align-items-center">
      <dt class="h4">ID</dt>
      <dd class="h4">123456</dd>
    </dl>
  </div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>患者コメント</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="white-space: normal;">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>太陽堂コメント</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="white-space: normal;">Some quick example text to build on the card title and make up the bulk of the card's content.</td>
        </tr>
      </tbody>
    </table>
  <!-- /.card-header -->
    <table class="table table-sm">
      <thead>
        <tr>
          <th>剤系</th>
          <th>漢方</th>
          <th>他１</th>
          <th>服用</th>
          <th>日分</th>
          <th style="width: 40px">金額</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.投薬</td>
          <td>末：甘草</td>
          <td>0.2</td>
          <td>昼食前・寝る前</td>
          <td>30</td>
          <td style="width: 20%">3840
          </td>
        </tr>
        <tr>
          <td>1.投薬</td>
          <td>末：甘草</td>
          <td>0.2</td>
          <td>昼食前・寝る前</td>
          <td>30</td>
          <td style="width: 20%">3840
          </td>
        </tr>
      </tbody>
    </table>
<!-- /.card-body -->