<div class="container">
		<div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12">
            <%= link_to root_path do%>
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-th"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-section-title3 ">Dashboard</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            <% end %>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
            <%= link_to dashboard_top_path do%>
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-edit fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-section-title3 ">新規登録
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            <% end %>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
            <%= link_to dashboard_index_path do%>
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-search fas"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-section-title3 ">検索
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            <% end %>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
            <%= link_to dashboard_index_path do%>
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-calendar fas"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-section-title3 ">予約管理
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            <% end %>
            </div> 
        </div>
</div>